<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon id="hd-icon" color="light" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-input [(ngModel)]="receiverFullName"></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content class="msger" [fullscreen]="true">
  <p [hidden]="isConnected">No internet connection!</p>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let message of listMessagesObservableArray">
        <ion-col size="9" *ngIf="message.senderUserName !== username">
          <div class="msg left-msg">
            <!-- <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div> -->
            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">{{message.UserFullName }}</div>
                <div class="msg-info-time">{{message.MessageDateTime | date:'short'}}</div>
              </div>
              <div class="msg-text" [innerHTML]="message.Message">
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col offset="3" size="9" *ngIf="message.senderUserName === username">
          <div class="msg right-msg">
            <!-- <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div> -->
            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">{{message.UserFullName }}</div>
                <div class="msg-info-time">{{message.MessageDateTime | date:'short'}}</div>
              </div>
              <div class="msg-text" [innerHTML]="message.Message">
              </div>
            </div>
          </div>
        </ion-col>
      </ng-container>
      <ion-col> 
        <div class="msg left-msg" *ngIf="isTyping">
          <!-- <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div> -->
          <div class="msg-bubble">
            <div class="msg-text">
              <p>...</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="9">
        <ion-textarea maxlength="500" class="message-input" (keyup)="messageTextAreaKeyPress($event)" rows="2"
          [(ngModel)]="message"></ion-textarea>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="isDisabledSms" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>